body{
    background-color: rgb(99, 99, 99);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.card{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,.26);
    margin: 30px auto;
    padding: 1rem;
    width: 400px;

    &--header{
        background-color: #dedddd;
        border-radius: 5px 5px 0 0;
        padding: 1rem 0 1rem .5rem;
    }

    &--span{
        color: #000;
        font-size: 1rem;
        font-weight: 700;
        padding: .5rem;
        border-radius: 5px 5px 0 0;
        font-size: 0.8rem;
        font-weight: 700;
        color: white;
    }

    &--span--tech{
        background: rgb(23, 53, 225);        
    }

    &--span--urgent{
        background: rgb(209, 23, 23);
    }

    &--title{
        color: #000;
        background-color: #f2f2f2;
        font-size: 1.3rem;
        font-weight: 700;
        padding: .5rem 1rem;
        margin: .5rem 0 0 0;
        border-radius: 5px 5px 0 0;
    }

    &--body{
        color: #000;
        font-size: 1rem;
        font-weight: 400;
        padding: 1rem 0;
    }

    &--task{
        color: #000;
        font-size: 1rem;
        font-weight: 400;
        margin: .5rem;
    }

    &--task--done{
        text-decoration: line-through;
    }

    &--task--undone{
        text-decoration: none;
    }

    &--task--label {
        color: #000;
        font-size: 1rem;
        font-weight: 400;
        display: flex;
        align-items: flex-start;
    }

    &--footer {
        display: flex;
        gap: 1rem;
        align-items: center;
        color: #000;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0px;
        
    }
}

.btn{
    border-radius: 0.3rem;
    padding: 0.5rem;
    border: none;
}